<body class = "chatroom-body">

  <div class = "container">

    <div class = "chat-messages">
      <% @messages.each do |message| %>
      <p><%= message.message_body %></p>
      <% end %>
    </div>

    <div class = "form-messages">
      <%= form_with model: @new_message, :url => {:controller => 'messages', :action => 'create'}  do |form| %>
        <div class = "message-body-create">
          <%= form.text_field :message_body %>
        </div>
        <div class="submit">
          <%=form.submit "Send Message", class:"submit-message" %>
        </div>
      <% end %>
    </div>

  </div>

</body>
